.footer {
  background: url('../assets/imgs/bg/footer_bg.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 25px 0;
    position: relative;
    &:after {
      content:'';
      background: #fff;
      width: 95%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &_title {
      display: flex;
      align-items: center;
      padding: 0 35px;
      &_svg {
        &_path {
          fill: none;
        	stroke: url(#linear);
        	stroke-width: 12px;
        }
      }
      &_light {
        color: #fff;
        font-family: $NS-xLgh;
        font-size: $Big;
        &_bold {
          font-family: $NS-Bld;
        }
      }
    }
    &_items {
      display: flex;
      align-items: center;
      padding: 0 35px;
      &_item {
        color: #fff;
        font-family: $NS-Bld;
        font-size: $Sml;
        margin-left: 35px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease;
        &:hover {
          color: #000
        }
        &:before {
          content: '';
          background: #fff;
          width: 110%;
          height: 0%;
          position: absolute;
          transition: all 0.3s ease;
          z-index: -1;
          left: -5%;
          top: -10%;
        }
        &:hover:before {
          height: 120%;
        }
      }
    }
  }
  &_warning {
    color: #fff;
    font-family: $NS-Bld;
    font-size: $Med;
    &_span {
      color: #ff8484;
    }
  }
  &_social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &_text {
      color: #fff;
      font-family: $NS-xLgh;
      font-size: $Sml;
      margin: 0 75px 30px 75px;
      &_link {
        color: #fff;
        text-decoration: none;
        font-family: $NS-sBld;
        font-size: $Reg;
        position: relative;
        z-index: 1;
        margin-left: 5px;
        &:after {
          content: '';
          background: $blueToPurple;
          width: 104%;
          height: 3px;
          position: absolute;
          z-index: -1;
          left: -2%;
          bottom: -5px;
          transition: all 0.3s ease;
        }
        &:hover:after {
          height: 35px;
        }
      }
    }
    &_items {
      width: 120px;
      display: flex;
      justify-content: space-between;
      margin: 0 100px 24px 0;
      &_item {
        background: green;
        width: 30px;
        height: 30px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:nth-child(1) {
          background: url('../assets/imgs/icons/github.svg') no-repeat center;
          background-size: 100%;
          &:hover {
            background: url('../assets/imgs/icons/github-anim.svg') no-repeat center;
            background-size: 100%;
          }
        }
        &:nth-child(2) {
          background: url('../assets/imgs/icons/linkedin.svg') no-repeat center;
          background-size: 100%;
          &:hover {
            background: url('../assets/imgs/icons/linkedin-anim.svg') no-repeat center;
            background-size: 100%;
          }
        }
        &:nth-child(3) {
          background: url('../assets/imgs/icons/instagram.svg') no-repeat center;
          background-size: 100%;
          &:hover {
            background: url('../assets/imgs/icons/instagram-anim.svg') no-repeat center;
            background-size: 100%;
          }
        }
      }
    }
  }
}
