body {
  overflow-x: hidden;
}
button:focus {
  outline: 0;
}
// CHANGING ELEMENTS
.backgroundChange {
  background: #fff !important;
}
.colorChange {
  color: #fff !important;
}
.gradientBackgroundChange {
  background: $purpleToBlue-opMed !important;
}
.is-active {
    opacity: 1 !important;
    visibility: visible !important;
}

// SCROLLBAR
::-webkit-scrollbar {
   	width: 10px;
}
::-webkit-scrollbar-track {
   	background: #fff;
}
::-webkit-scrollbar-thumb {
   	background: $xlBlue;
   	transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
   	background: $blue;
}

// PLACEHOLDER
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}

.wip {
  background: url('../assets/imgs/bg/wip.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $NS-Reg;
  font-size: $Big;

}
.loading {
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  &_title {
    color: #fff;
    font-family: $NS-Lgh;
    font-size: $Big;
    margin-top: 35px;
  }
  &_svg {
    &_path {
      fill: transparent;
      stroke-width: 4px;
      stroke: #fff;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: dash666 2s infinite linear;
    }
    @keyframes dash666 {
      to {
        stroke-dashoffset: -100;
      }
    }
  }
}
