body {
  overflow-x: hidden;
}
.backgroundChange {
  background: $purple !important;
}
.colorChange {
  color: $purple !important;
}
.gradientBackgroundChange {
  background: $whiteToBlue-opHrdTurned !important;
}
.is-active {
    opacity: 1 !important;
    visibility: visible !important;
}

// SCROLLBAR
::-webkit-scrollbar {
   	width: 10px;
}
::-webkit-scrollbar-track {
   	background: #fff;
}
::-webkit-scrollbar-thumb {
   	background: $xlBlue;
   	transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
   	background: $blue;
}

// PLACEHOLDER
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}

.wip {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $NS-Lgh;
  font-size: $Big;

}
