.header {
  text-align: center;
  padding: 6rem 0;
  background: $blueToPurple;

  &-title {
    font-size: 2.4rem;
    font-family: $NS-Bld;
    color: $purple;
    @include for-size(tablet-portrait-up) {
      font-size: 3rem;
    }
  }
  &-subTitle {
    font-size: 1.8rem;
    font-family: $NS-Lgh;
    @include for-size(tablet-portrait-up) {
      font-size: 3rem;
    }
  }
}
.text {
  font-family: $NS-Reg;
}
.text2 {
  font-family: $NS-sBld;
}
.div {
  width: 100px;
  height: 50px;
  border: 2px $purpleToBlue solid;
}
