.header {
  background: url('../assets/imgs/bg/home_bg.jpg') no-repeat center;
  background-size: cover;
  background-position: 0% 0px;
  width: 100%;
  height: 100vh;
  &_titleBox {
    color: #fff;
    display: flex;
    &_logo {
      position: fixed;
      top: 25px;
      left: 25px;
      z-index: 2;
      &_path {
        fill: none;
      	stroke: url(#linear);
      	stroke-width: 12px;
        stroke-dasharray: 400;
      	stroke-dashoffset: 400;
      	animation: dash 5s infinite linear;
        transition: all 0.25s ease-out;
      }
    }
    &_title {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 28px;
      left: 110px;
      &_mainTitle {
        font-family: $NS-xLgh;
        font-size: $Big;
        letter-spacing: 0.5;
      }
      &_mainTitleSpan {
        margin-left: 3px;
        font-family: $NS-Bld;
        letter-spacing: 0.75;
      }
      &_subTitle {
        font-family: $NS-xLgh;
        font-size: $Sml;
      }
    }
  }
  &_menu {
    &_burger {
      width: 30px;
      height: 19px;
      position: fixed;
      z-index: 4;
      top: 25px;
      right: 25px;

      cursor: pointer;
      transition: all 0.25 ease-out;
      &:hover > .header_menu_burger_firstLine_before,
      &:hover > .header_menu_burger_lastLine_after {
        right: 10px;
      }
      &_firstLine,
      &_lastLine {
        background: #fff;
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.5s ease;
      }
      &_firstLine_before,
      &_lastLine_after {
        background: #fff;
        width: 20px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.25s ease-out;
      }
      &_firstLine {
        &_before {
          top: 18px;
        }
        &-anim {
          transform: translate(-50%,-50%) rotate(-135deg);
        }
        &-befafter {
        opacity: 0;
        }
      }
      &_lastLine {
        &_after {
          bottom: 0;
        }
        &-anim {
          transform: translate(-50%,-50%) rotate(135deg);
        }
      }
    }
    &_overlay {
      background: rgba(0,0,0,0.80);
      width: 160%;
      height: 100vh;
      position: fixed;
      z-index: 3;
      top: -150vh;
      left: -30%;
      transform: rotate(22.5deg);
      transition: all 0.5s ease-out;
      &_items {
        position: absolute;
        top: 50%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &_item {
        &:hover {
          justify-content: flex-end;
        }
        &_link {
          color: #fff;
      	  width: 300px;
      	  height: 75px;
      	  margin: 10px;
          font-size: $Big;
          font-family: $NS-Lgh;
      	  position: relative;
          overflow: hidden;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          transition: all 0.5s ease-in-out;
          &:hover {
            letter-spacing: 2.5;
          }
          &::before {
            content:'';
        		width: 0%;
        		height: 200px;
        		position: absolute;
        		top: -50px;
        		left: 0%;
        		transform: rotate(0deg);
          }
        	&::after {
            content:'';
        		width: 0%;
        		height: 200px;
        		position: absolute;
        		top: -50px;
        		right: 0%;
        		transform: rotate(0deg);
        	}
        	&:hover:before {
        		animation: link-anim-l 0.5s ease-in-out;
        	}
          &:hover:after {
        		animation: link-anim-r 0.5s ease-in-out;
        	}
          &-1::after,
          &-1::before {
            background: $purple;
          }
          &-2::after,
          &-2::before {
            background: $dBlue;
          }
          &-3::after,
          &-3::before {
            background: $blue;
          }
          &-4::after,
          &-4::before {
            background: $lBlue;
          }
        }
      }
      &-active {
        top: 0 !important;
        transform: rotate(0deg) !important;
      }
    }
  }
  &_typewriter {
	  width: 600px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    &_items {
    	display: flex;
    	flex-direction: column;
    	position: relative;
    }
    &_item {
      color: #fff;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $xxBig;
      font-family: $NS-Reg;
    }
  }
  &_button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    &_input {
      background: $blueToWhite-opSml;
      color: #fff;
      border: 2.25px #fff solid;
      width: 350px;
      height: 65px;
      text-align: center;
      font-family: $NS-xLgh;
      font-size: $Big;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $whiteToBlue-opSml;
      }
      &-anim {
        width: 500px;
        text-align: left;
        cursor: text;
        padding-left: 10px;
      }
    }
    &_search {
      padding: 17px;
      width: 30px;
      height: auto;
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      fill: #ffffff;
      &:hover {
        background: $white-opSml;
      }
      &:hover > .header_button_search_path {
        fill: red;
      }
      &_path {
        data-original: #000;
        data-old_color: #fff ;
        fill: #fff;
      }
    }
  }
  &_music {
    background: #fff;
	  width: 20px;
	  height: 20px;
	  border-radius: 100%;
    display: flex;
    align-items: center;
	  position: fixed;
	  bottom: 30px;
	  left: 30px;
    z-index: 2;
    cursor: pointer;
    &_before,
    &_after {
      content:'';
    	background: #fff;
    	width: 20px;
    	height: 20px;
    	border-radius: 100%;
    	position: absolute;
      transition: all 0.25s ease-out;
      &-pulse {
        animation: pulse 2s infinite linear;
      }
    }
    &_after {
      background: #fff;
      animation-delay: 1s;
    }
  }
  &_language {
    color: #fff;
    display: flex;
    align-items: flex-end;
    font-family: $NS-Reg;
    font-size: $Reg;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 2;
    &_en,
    &_kr {
      cursor: pointer;
      padding:  2px;
      position: relative;
      z-index: 1;
      transition: all .25s ease;
    }
    &-change {
      background: $purpleToBlue-opMed;
    	width: 50%;
    	height: 100%;
    	position: absolute;
    	left: 0;
      z-index: 0;
      &-toRight {
      	animation: toRight .5s ease-out;
        width: 50%;
      	right: 0;
      	left: 50%;
      }
      &-toLeft {
      	animation: toLeft .5s ease-out;
        width: 50%;
      	left: 0;
      	right: 50%;
      }
    }
  }
}
.transition {
	transition: all 750ms ease;
}
.transitionImg {
	position: absolute;
	display: block;
}
