.header {
  text-align: center;
  padding: 6rem 0;
  background: $ultraColor;
  &-title {
    font-size: 2.4rem;
    @include for-size(tablet-portrait-up) {
      font-size: 3rem;
    }
  }
  &-subTitle {
    font-size: 1.8rem;
    @include for-size(tablet-portrait-up) {
      font-size: 3rem;
    }
  }
}
