.method {
  background: $medWhite;
  width: 100%;
  height: 600px;
  padding-bottom: 35px;
  &_title {
    background: $blueToPurple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $NS-Reg;
    font-size: $xBig;
    text-align: center;
    padding: 40px;
    position: relative;
    &::after {
      content: '';
      background: $purpleToBlue;
      width: 0%;
      height: 4px;
      position: absolute;
      top: 85px;
      left: 50%;
      transition: all 0.3s ease;
    }
    &:hover:after {
      width: 54%;
      left: 23%;
    }
  }
  &_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-column-gap: 35px;
    padding: 35px;
    &_article {
      border: 5px #000 solid;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all .25s ease-out;
      &:hover {
        transform: scale(1.0);
      }
      &::before {
        content: '';
        width: 550px;
        height: 150%;
        background: $medWhite;
        @include boxshadow(10px, 10px, 58px, -13px, rgba(0,0,0,0.75))
        position: absolute;
        top: -75%;
        right: 9%;
        transform: rotate(-45deg);

        transition: all 0.5s ease;
      }
      &::after {
        content: '';
        background: $white-opMedMin;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        transition: all 0.5s ease;
      }
      &:hover:before {
        top: -150%;
        right: 61%;
        opacity: 0;
      }
      &:hover:after {
        background: rgba(0,0,0,0);
      }
      &:nth-of-type(1) &_text {
          color: $purple;
      }
      &:nth-of-type(2) &_text {
          color: $dBlue;
      }
      &:nth-of-type(3) &_text {
          color: $blue;
      }
      &:nth-child(1) {
        background: url('../assets/imgs/bg/method/method1min.jpg') no-repeat center;
        background-size: cover;
        border-image: $purpleToWhite 30;
      }
      &:nth-child(2) {
        background: url('../assets/imgs/bg/method/method2min.jpg') no-repeat center;
        background-size: cover;
        border-image: $dBlueToWhite 30;
      }
      &:nth-child(3) {
        background: url('../assets/imgs/bg/method/method3min.jpg') no-repeat center;
        background-size: cover;
        border-image: $BlueToWhite 30;
      }
      &_text {
        background: rgba(0,0,0,0);
        padding: 15px;
        font-family: $NS-sBld;
        font-size: $Med;
        position: relative;
        transition: all 0.5s ease;
      }
      &:hover > .method_box_article_text{
        color: $medWhite;
        background: rgba(0,0,0,0.33);
      }
    }
  }
  &_button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  	width: 530px;
  	height: 105px;
    &_svg {
      &_path1,&_path2 {
        fill: transparent;
      	stroke: $dBlue;
      	stroke-width: 4px;
      	stroke-dasharray: 75;
      	stroke-dashoffset: 75;
      	animation: dash2 1s infinite linear;
      	transition: all 0.5s ease;
      }
    }
    &_clickable {
      background: $purpleToBlue-opMed;
    	color: #fff;
    	font-size: 24px;
    	font-family: "Nunito Sans";
    	border: 4px #fff solid;
    	width: 500px;
    	height: 75px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
      cursor: pointer;
      transition: all 1s ;
    }
    &_clickable:hover {
      background: $purpleToBlue;
    }
  }
}

@keyframes dash2 {
	to {
		stroke-dashoffset: -75;
	}
}
