.random {
  background: url('../assets/imgs/bg/random_bg.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 1250px;
  &_title {
    color: #fff;
    font-family: $NS-Bld;
    font-size: $xBig;
    text-align: center;
    padding: 35px;
    position: relative;
    &::before, &::after {
      content:'';
      background: #fff;
      width: 66px;
      height: 5px;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      transition: all 0.3s ease-in-out;
    }
    &::before {
      left: 26%;
    }
    &::after {
      right: 26%;
    }
    &:hover:before {
      background: $white-opHrd;
      left: 70%;
    }
    &:hover:after {
      background: $white-opHrd;
      right: 70%;
    }
  }
  &_box {
    padding-bottom: 35px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    grid-gap: 35px 35px;
    grid-template-areas: "rdm-1 rdm-2 rdm-2 rdm-3"
                         "rdm-4 rdm-4 rdm-5 rdm-3"
                         "rdm-6 rdm-7 rdm-7 rdm-7"
                         "rdm-6 rdm-8 rdm-9 rdm-9";
    &_article {
      background: grey;
      transform: scale(1.0);
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.025);
      }
      &:nth-child(1) {
        background: url('../assets/imgs/bg/random/random1min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-1;
      }
      &:nth-child(2) {
        background: url('../assets/imgs/bg/random/random2min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-2;
      }
      &:nth-child(3) {
        background: url('../assets/imgs/bg/random/random3min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-3;
      }
      &:nth-child(4) {
        background: url('../assets/imgs/bg/random/random4min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-4;
      }
      &:nth-child(5) {
        background: url('../assets/imgs/bg/random/random5min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-5;
      }
      &:nth-child(6) {
        background: url('../assets/imgs/bg/random/random6min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-6;
      }
      &:nth-child(7) {
        background: url('../assets/imgs/bg/random/random7min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-7;
      }
      &:nth-child(8) {
        background: url('../assets/imgs/bg/random/random8min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-8;
      }
      &:nth-child(9) {
        background: url('../assets/imgs/bg/random/random9min.jpg') no-repeat center;
        background-size: cover;
        grid-area: rdm-9;
      }

    }

  }
  &_imgBox {
    background: red;
    &_figure {
      background: $black-opHrd;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      transform: scale(0);
      transition: all 0.3s ease;
      &_img {
        height: 75vh;
      }
      &_figcaption {
        color: #fff;
        font-family: $NS-sBld;
        font-size: $Big;
        margin-top: 35px;
      }
    }
  }
}
