// fonts-family
$NS-Reg: "NunitoSans-Regular";
$NS-Lgh: "NunitoSans-Light";
$NS-xLgh: "NunitoSans-ExtraLight";
$NS-Bld: "NunitoSans-Bold";
$NS-sBld: "NunitoSans-SemiBold";

// font-size
$Big: 3rem;
$Med: 2.4rem;
$Reg: 2rem;
$Sml: 1.8rem;


// colors
$xlBlue: #EAF2FF;
$lBlue: #83F0FF;
$blue: #82D3FF;
$blue-opMed: rgba(130, 211, 255, 0.75);
$blue-opSml: rgba(0, 224, 255, 0.33);
$dBlue: #85B6FF;
$xdBlue: #022965;

$purple: #8B83FF;
$purple-opMed: rgba(139, 131, 255, 0.75);

$white-opSml: rgba(255,255,255,0.25);
$white-opHrd: rgba(255,255,255,0.75);
// linear-gradient
$blueToPurple: linear-gradient(-0.125turn, $blue, $purple);
$blueToPurple-opMed:  linear-gradient(-0.125turn, $blue-opMed, $purple-opMed);
$purpleToBlue: linear-gradient(-0.125turn, $purple, $blue);
$purpleToBlue-opMed: linear-gradient(-0.125turn, $purple-opMed, $blue-opMed);
$blueToWhite-opSml: linear-gradient($blue-opSml, $white-opSml);
$whiteToBlue-opSml: linear-gradient($white-opSml, $blue-opSml);

// Breakpoints
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
