// fonts
$NS-Reg: "NunitoSans-Regular";
$NS-Lgh: "NunitoSans-Light";
$NS-Bld: "NunitoSans-Bold";
$NS-sBld: "NunitoSans-SemiBold";

// colors
$xBlue: #83F0FF;
$blue: #82D3FF;
$mBlue: #85B6FF;
$purple: #8B83FF;

// linear-gradient
$blueToPurple: linear-gradient(-0.125turn, $blue, $purple);
$purpleToBlue: linear-gradient(-0.125turn, $purple, $blue);

// Breakpoints
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
