.district {
  background: url('../assets/imgs/bg/random_bg.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &_title {
    color: $purple;
    background: $white-opReg;
    font-family: $NS-sBld;
    font-size: $Big;
    padding: 25px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    &:before {
      content: '';
      background: #fff;
      width: 100%;
      height: 100%;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: -1;
    }
    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
  &_name {
    color: $ddBlue;
    font-family: $NS-Bld;
    font-size: $xBig;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.25s ease;
  }
  &_svg {
    &_path {
      fill: $medWhite;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        fill: $purple-opMed;
      }
    }
  }
}
