body {
  overflow-x: hidden;
  background-color: #000000;
}
button:focus {
  outline: 0;
}
input:focus {
  outline: 0;
}
// CHANGING ELEMENTS
.backgroundChange {
  background: #fff !important;
}
.colorChange {
  color: #fff !important;
}
.gradientBackgroundChange {
  background: $purpleToBlue-opMed !important;
}
.over {
  opacity: 0.75;
}
.scaled {
  transform: scale(1) !important;
}

// // SCROLLBAR
// ::-webkit-scrollbar {
//    	width: 10px;
// }
// ::-webkit-scrollbar-track {
//    	background: $xdBlue;
// }
// ::-webkit-scrollbar-thumb {
//    	background: $xdBlue;
//     border-top: 2px #fff solid;
//     border-bottom: 2px #fff solid;
//    	transition: all 0.3s;
// }
// ::-webkit-scrollbar-thumb:hover {
//    	background: #fff;
// }

// PLACEHOLDER
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white-opHrd;
  font-family: $NS-Lgh;
}

// CROSS
.cross {
  width: 30px;
  height: 30px;
  position: fixed;
  TOP: 25px;
  right: 25px;
  z-index: 6;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.2s;
  &::before, &::after {
    content: '';
    background: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    cursor: pointer;
    transition: all 0.5s ease;

  }
  &::after {
    content: '';
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover:before, &:hover:after {
    transform: translate(-50%, -50%) rotate(270deg);
  }

}

.loader:has(.loader_enter:hover) {
  background: $purple-opMed;
}

// LOADING SCREEN
.loader {
  width: 100%;
  height: 100vh;
  background: $xdBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.666s;
  // animation: loader 2.5s;
  &_active {
      opacity: 1 !important;
      visibility: visible !important;
  }
  &_enter {
    background: transparent;
    color: #fff;
    opacity: 0;
    border: 2px $ddBlue solid;
    border-image: $blueToPurple 30;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: $NS-xLgh;
    font-size: $Big;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.3s;
    animation: loader_enter 2s forwards;
    z-index: 1;
    display: none;
    &:hover {
      background: $ddBlue;
      border: 2px $ddBlue solid;
      color: $lBlue;
    &::before {
        letter-spacing: 1px;
      }
    }
    
    &::before {
      content: 'Start';
      position: absolute;
      transform: translate(-50%, -50%) rotate(-45deg);
      letter-spacing: 4px;
      transition: all 0.3s;
    }
    @keyframes loader_enter {
      to {
        opacity: 1;
      }
    }
  }
  &_svg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
    animation: dash667 2.5s forwards;
    
    &_path {
      fill: transparent;
      stroke-width: 4px;
      stroke: #fff;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: dash666 2.5s linear;
    }
    @keyframes dash666 {
      to {
        stroke-dashoffset: -100;
      }
    }
  }
  @keyframes dash667 {
    to {
      opacity: 0;
    }
  }
}

// WIP
.wip {
  background: url('../assets/imgs/bg/wip.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $NS-Reg;
  font-size: $Big;

}
