@font-face {
	font-family: "NunitoSans-ExtraLight";
    src: url('../assets/fonts/NunitoSans-ExtraLight.ttf');
}
@font-face {
	font-family: "NunitoSans-Light";
    src: url('../assets/fonts/NunitoSans-Light.ttf');
}
@font-face {
	font-family: "NunitoSans-Regular";
    src: url('../assets/fonts/NunitoSans-Regular.ttf');
}
@font-face {
	font-family: "NunitoSans-SemiBold";
    src: url('../assets/fonts/NunitoSans-SemiBold.ttf');
}
@font-face {
	font-family: "NunitoSans-Bold";
    src: url('../assets/fonts/NunitoSans-Bold.ttf');
}
