@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: "";
  content: none;
}
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "NunitoSans-ExtraLight";
  src: url("NunitoSans-ExtraLight.562466be.ttf");
}
@font-face {
  font-family: "NunitoSans-Light";
  src: url("NunitoSans-Light.d4094f4f.ttf");
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("NunitoSans-Regular.07cfb5a2.ttf");
}
@font-face {
  font-family: "NunitoSans-SemiBold";
  src: url("NunitoSans-SemiBold.4e72524f.ttf");
}
@font-face {
  font-family: "NunitoSans-Bold";
  src: url("NunitoSans-Bold.ba1cdfc2.ttf");
}
@keyframes dash {
  to {
    stroke-dashoffset: -400;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: -400;
  }
}
@keyframes link-anim-l {
  0%, 100% {
    transform: rotate(0deg);
    width: 0%;
    left: 0%;
  }
  50% {
    transform: rotate(22.5deg);
    width: 58%;
    left: -10%;
    opacity: 0.5;
  }
}
@-webkit-keyframes link-anim-l {
  0%, 100% {
    transform: rotate(0deg);
    width: 0%;
    left: 0%;
  }
  50% {
    transform: rotate(22.5deg);
    width: 58%;
    left: -10%;
    opacity: 0.5;
  }
}
@keyframes link-anim-r {
  0%, 100% {
    transform: rotate(0deg);
    width: 0%;
    right: 0%;
  }
  50% {
    transform: rotate(22.5deg);
    width: 58%;
    right: -11%;
    opacity: 0.5;
  }
}
@-webkit-keyframes link-anim-r {
  0%, 100% {
    transform: rotate(0deg);
    width: 0%;
    right: 0%;
  }
  50% {
    transform: rotate(22.5deg);
    width: 58%;
    right: -11%;
    opacity: 0.5;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2, 2);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2, 2);
  }
}
@keyframes toRight {
  0% {
    width: 50%;
    left: 0;
    right: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    right: 0;
  }
  100% {
    width: 50%;
    right: 0;
    left: 50%;
  }
}
@-webkit-keyframes toRight {
  0% {
    width: 50%;
    left: 0;
    right: 50%;
  }
  50% {
    width: 100%;
    left: 0;
    right: 0;
  }
  100% {
    width: 50%;
    right: 0;
    left: 50%;
  }
}
@keyframes toLeft {
  0% {
    width: 50%;
    right: 0;
    left: 50%;
  }
  50% {
    width: 100%;
    right: 0;
    left: 0;
  }
  100% {
    width: 50%;
    left: 0;
    right: 50%;
  }
}
@-webkit-keyframes toLeft {
  0% {
    width: 50%;
    right: 0;
    left: 50%;
  }
  50% {
    width: 100%;
    right: 0;
    left: 0;
  }
  100% {
    width: 50%;
    left: 0;
    right: 50%;
  }
}
.tracking-in-contract {
  animation: tracking-in-contract 0.8s both;
  animation-delay: 0.2s;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
body {
  overflow-x: hidden;
}
button:focus {
  outline: 0;
}
input:focus {
  outline: 0;
}
.backgroundChange {
  background: #fff !important;
}
.colorChange {
  color: #fff !important;
}
.gradientBackgroundChange {
  background: linear-gradient(-0.125turn, rgba(139, 131, 255, 0.75), rgba(130, 211, 255, 0.75)) !important;
}
.is-active {
  opacity: 1 !important;
  visibility: visible !important;
}
.over {
  opacity: 0.75;
}
.scaled {
  transform: scale(1) !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #EAF2FF;
  transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background: #82D3FF;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.75);
  font-family: "NunitoSans-Light";
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.75);
  font-family: "NunitoSans-Light";
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.75);
  font-family: "NunitoSans-Light";
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.75);
  font-family: "NunitoSans-Light";
}
.cross {
  width: 30px;
  height: 30px;
  position: fixed;
  TOP: 25px;
  right: 25px;
  z-index: 6;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0.2s;
}
.cross::before, .cross::after {
  content: "";
  background: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: pointer;
  transition: all 0.5s ease;
}
.cross::after {
  content: "";
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cross:hover:before, .cross:hover:after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.loading {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.loading_title {
  color: #fff;
  font-family: "NunitoSans-Light";
  font-size: 3rem;
  margin-top: 35px;
}
.loading_svg_path {
  fill: transparent;
  stroke-width: 4px;
  stroke: #fff;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash666 2s infinite linear;
}
@keyframes dash666 {
  to {
    stroke-dashoffset: -100;
  }
}
.wip {
  background: url("wip.929948c6.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NunitoSans-Regular";
  font-size: 3rem;
}
.header {
  background: url("home_bg.6e36615b.jpg") no-repeat center;
  background-size: cover;
  background-position: 0% 0px;
  width: 100%;
  height: 100vh;
}
.header_titleBox {
  color: #fff;
  display: flex;
}
.header_titleBox_logo {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 2;
}
.header_titleBox_logo_path {
  fill: none;
  stroke: url(#linear);
  stroke-width: 12px;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash 5s infinite linear;
  transition: all 0.25s ease-out;
}
.header_titleBox_title {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 28px;
  left: 110px;
}
.header_titleBox_title_mainTitle {
  font-family: "NunitoSans-ExtraLight";
  font-size: 3rem;
  letter-spacing: 0.5;
}
.header_titleBox_title_mainTitleSpan {
  margin-left: 3px;
  font-family: "NunitoSans-Bold";
  letter-spacing: 0.75;
}
.header_titleBox_title_subTitle {
  font-family: "NunitoSans-ExtraLight";
  font-size: 1.8rem;
}
.header_menu_burger {
  width: 30px;
  height: 19px;
  position: fixed;
  z-index: 4;
  top: 25px;
  right: 25px;
  cursor: pointer;
  transition: all 0.25 ease-out;
}
.header_menu_burger:hover > .header_menu_burger_firstLine_before, .header_menu_burger:hover > .header_menu_burger_lastLine_after {
  right: 10px;
}
.header_menu_burger_firstLine, .header_menu_burger_lastLine {
  background: #8B83FF;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.header_menu_burger_firstLine_before, .header_menu_burger_lastLine_after {
  background: #8B83FF;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s ease-out;
}
.header_menu_burger_firstLine_before {
  top: 18px;
}
.header_menu_burger_firstLine-anim {
  transform: translate(-50%, -50%) rotate(-135deg);
}
.header_menu_burger_firstLine-befafter {
  opacity: 0;
}
.header_menu_burger_lastLine_after {
  bottom: 0;
}
.header_menu_burger_lastLine-anim {
  transform: translate(-50%, -50%) rotate(135deg);
}
.header_menu_overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 160%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: -150vh;
  left: -30%;
  transform: rotate(22.5deg);
  transition: all 0.5s ease-out;
}
.header_menu_overlay_items {
  position: absolute;
  top: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_menu_overlay_item {
  color: #fff;
  width: 300px;
  height: 75px;
  padding: 0 10px;
  font-size: 3rem;
  font-family: "NunitoSans-Light";
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.header_menu_overlay_item:hover {
  letter-spacing: 2.5;
}
.header_menu_overlay_item::before {
  content: "";
  width: 0%;
  height: 200px;
  position: absolute;
  top: -50px;
  left: 0%;
  transform: rotate(0deg);
}
.header_menu_overlay_item::after {
  content: "";
  width: 0%;
  height: 200px;
  position: absolute;
  top: -50px;
  right: 0%;
  transform: rotate(0deg);
}
.header_menu_overlay_item:hover:before {
  animation: link-anim-l 0.5s ease-in-out;
}
.header_menu_overlay_item:hover:after {
  animation: link-anim-r 0.5s ease-in-out;
}
.header_menu_overlay_item-1::after, .header_menu_overlay_item-1::before {
  background: #8B83FF;
}
.header_menu_overlay_item-2::after, .header_menu_overlay_item-2::before {
  background: #85B6FF;
}
.header_menu_overlay_item-3::after, .header_menu_overlay_item-3::before {
  background: #82D3FF;
}
.header_menu_overlay_item-4::after, .header_menu_overlay_item-4::before {
  background: #83F0FF;
}
.header_menu_overlay-active {
  top: 0 !important;
  transform: rotate(0deg) !important;
}
.header_typewriter {
  width: 600px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_typewriter_items {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header_typewriter_item {
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7.2rem;
  font-family: "NunitoSans-Regular";
}
.header_button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.header_button_input {
  background: linear-gradient(rgba(0, 224, 255, 0.33), rgba(255, 255, 255, 0.25));
  color: #fff;
  border: 2.25px #fff solid;
  width: 350px;
  height: 65px;
  text-align: center;
  font-family: "NunitoSans-ExtraLight";
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header_button_input:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 224, 255, 0.33));
}
.header_button_input-anim {
  width: 500px;
  text-align: left;
  cursor: text;
  padding-left: 10px;
}
.header_button_search {
  padding: 17px;
  width: 30px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  fill: #ffffff;
}
.header_button_search:hover {
  background: rgba(255, 255, 255, 0.25);
}
.header_button_search:hover > .header_button_search_path {
  fill: red;
}
.header_button_search_path {
  data-original: #000;
  data-old_color: #fff;
  fill: #fff;
}
.header_music {
  background: #8B83FF;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 2;
  cursor: pointer;
}
.header_music_before, .header_music_after {
  content: "";
  background: #8B83FF;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  transition: all 0.25s ease-out;
}
.header_music_before-pulse, .header_music_after-pulse {
  animation: pulse 2s infinite linear;
}
.header_music_after {
  background: #8B83FF;
  animation-delay: 1s;
}
.header_language {
  color: #8B83FF;
  display: flex;
  align-items: flex-end;
  font-family: "NunitoSans-Regular";
  font-size: 2rem;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 2;
}
.header_language::after {
  content: "COMMING SOON ! 😁";
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  width: 200px;
  height: 50px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 25px;
  transform: scale(0);
  transform-origin: right bottom;
  transition: all 0.3s ease;
}
.header_language:hover:after {
  transform: scale(1);
}
.header_language_en, .header_language_kr {
  cursor: pointer;
  padding: 2px;
  position: relative;
  z-index: 1;
  transition: all 0.25s ease;
}
.header_language-change {
  background: linear-gradient(-0.125turn, rgba(255, 255, 255, 0.75), rgba(130, 211, 255, 0.75));
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}
.header_language-change-toRight {
  animation: toRight 0.5s ease-out;
  width: 50%;
  right: 0;
  left: 50%;
}
.header_language-change-toLeft {
  animation: toLeft 0.5s ease-out;
  width: 50%;
  left: 0;
  right: 50%;
}
.transition {
  transition: all 750ms ease;
}
.transitionImg {
  position: absolute;
  display: block;
}
.method {
  background: #F9F9F9;
  width: 100%;
  height: 600px;
  padding-bottom: 35px;
}
.method_title {
  background: linear-gradient(-0.125turn, #82D3FF, #8B83FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "NunitoSans-Regular";
  font-size: 4rem;
  text-align: center;
  padding: 40px;
  position: relative;
}
.method_title::after {
  content: "";
  background: linear-gradient(-0.125turn, #8B83FF, #82D3FF) !important;
  width: 0%;
  height: 4px;
  position: absolute;
  top: 85px;
  left: 50%;
  transition: all 0.3s ease;
}
.method_title:hover:after {
  width: 54%;
  left: 23%;
}
.method_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-column-gap: 35px;
  padding: 35px;
}
.method_box_article {
  border: 5px #000 solid;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.method_box_article:hover {
  transform: scale(1);
}
.method_box_article::before {
  content: "";
  width: 550px;
  height: 150%;
  background: #F9F9F9;
  -webkit-box-shadow: 10px 10px 58px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 58px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 58px -13px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: -75%;
  right: 9%;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.method_box_article::after {
  content: "";
  background: rgba(255, 255, 255, 0.33);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.method_box_article:hover:before {
  top: -150%;
  right: 61%;
  opacity: 0;
}
.method_box_article:hover:after {
  background: rgba(0, 0, 0, 0);
}
.method_box_article:nth-of-type(1) .method_box_article_text {
  color: #8B83FF;
}
.method_box_article:nth-of-type(2) .method_box_article_text {
  color: #85B6FF;
}
.method_box_article:nth-of-type(3) .method_box_article_text {
  color: #82D3FF;
}
.method_box_article:nth-child(1) {
  background: url("method1min.ae9ed931.jpg") no-repeat center;
  background-size: cover;
  border-image: linear-gradient(-0.125turn, #fff, #8B83FF) 30;
}
.method_box_article:nth-child(2) {
  background: url("method2min.066ffc7e.jpg") no-repeat center;
  background-size: cover;
  border-image: linear-gradient(-0.125turn, #fff, #85B6FF) 30;
}
.method_box_article:nth-child(3) {
  background: url("method3min.6352234c.jpg") no-repeat center;
  background-size: cover;
  border-image: linear-gradient(-0.125turn, #fff, #82D3FF) 30;
}
.method_box_article_text {
  background: rgba(0, 0, 0, 0);
  padding: 15px;
  font-family: "NunitoSans-SemiBold";
  font-size: 2.4rem;
  position: relative;
  transition: all 0.5s ease;
}
.method_box_article:hover > .method_box_article_text {
  color: #F9F9F9;
  background: rgba(0, 0, 0, 0.33);
}
.method_button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 530px;
  height: 105px;
}
.method_button_svg_path1, .method_button_svg_path2 {
  fill: transparent;
  stroke: #85B6FF;
  stroke-width: 4px;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  animation: dash2 1s infinite linear;
  transition: all 0.5s ease;
}
.method_button_clickable {
  background: linear-gradient(-0.125turn, rgba(139, 131, 255, 0.75), rgba(130, 211, 255, 0.75));
  color: #fff;
  font-size: 24px;
  font-family: "Nunito Sans";
  border: 4px #fff solid;
  width: 500px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 1s;
}
.method_button_clickable:hover {
  background: linear-gradient(-0.125turn, #8B83FF, #82D3FF) !important;
}
@keyframes dash2 {
  to {
    stroke-dashoffset: -75;
  }
}
.random {
  background: linear-gradient(rgba(139, 131, 255, 0.25), rgba(130, 211, 255, 0.25));
  width: 100%;
  height: 1250px;
}
.random_title {
  color: #fff;
  font-family: "NunitoSans-Bold";
  font-size: 4rem;
  text-align: center;
  padding: 35px;
  position: relative;
}
.random_title::before, .random_title::after {
  content: "";
  background: #fff;
  width: 66px;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in-out;
}
.random_title::before {
  left: 26%;
}
.random_title::after {
  right: 26%;
}
.random_title:hover:before {
  background: rgba(255, 255, 255, 0.75);
  left: 70%;
}
.random_title:hover:after {
  background: rgba(255, 255, 255, 0.75);
  right: 70%;
}
.random_box {
  padding-bottom: 35px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  grid-gap: 35px 35px;
  grid-template-areas: "rdm-1 rdm-2 rdm-2 rdm-3" "rdm-4 rdm-4 rdm-5 rdm-3" "rdm-6 rdm-7 rdm-7 rdm-7" "rdm-6 rdm-8 rdm-9 rdm-9";
}
.random_box_article {
  background: grey;
  transform: scale(1);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.random_box_article:hover {
  transform: scale(1.025);
}
.random_box_article::before {
  content: "";
  background: radial-gradient(rgba(225, 225, 225, 0.15), rgba(255, 255, 255, 0.15));
  width: 200px;
  height: 200%;
  position: absolute;
  transform: rotate(25deg);
  top: -50%;
  left: -150%;
}
.random_box_article:hover:before {
  left: 150%;
  transition: all 0.5s;
}
.random_box_article:nth-child(1) {
  background: url("random1min.f32af003.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-1;
}
.random_box_article:nth-child(2) {
  background: url("random2min.bf6ec991.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-2;
}
.random_box_article:nth-child(3) {
  background: url("random3min.1c91f323.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-3;
}
.random_box_article:nth-child(4) {
  background: url("random4min.741cd35a.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-4;
}
.random_box_article:nth-child(5) {
  background: url("random5min.89e24857.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-5;
}
.random_box_article:nth-child(6) {
  background: url("random6min.c6da87c2.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-6;
}
.random_box_article:nth-child(7) {
  background: url("random7min.e6d495c9.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-7;
}
.random_box_article:nth-child(8) {
  background: url("random8min.eee566b7.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-8;
}
.random_box_article:nth-child(9) {
  background: url("random9min.edf36b41.jpg") no-repeat center;
  background-size: cover;
  grid-area: rdm-9;
}
.random_imgBox {
  background: red;
}
.random_imgBox_figure {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease;
}
.random_imgBox_figure_img {
  height: 75vh;
}
.random_imgBox_figure_figcaption {
  color: #fff;
  font-family: "NunitoSans-SemiBold";
  font-size: 3rem;
  margin-top: 35px;
}
.district {
  background: url("random_bg.6abfb086.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.district_title {
  color: #8B83FF;
  background: rgba(255, 255, 255, 0.5);
  font-family: "NunitoSans-SemiBold";
  font-size: 3rem;
  padding: 25px;
  margin-top: 25px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.district_title:before {
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}
.district_title:hover:before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: all 0.3s ease;
}
.district_name {
  color: #264576;
  font-family: "NunitoSans-Bold";
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
}
.district_svg_path {
  fill: #F9F9F9;
  cursor: pointer;
  transition: all 0.25s ease;
}
.district_svg_path:hover {
  fill: rgba(139, 131, 255, 0.75);
}
.footer {
  background: url("footer_bg.c57ad932.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 25px 0;
  position: relative;
}
.footer_nav:after {
  content: "";
  background: #fff;
  width: 95%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.footer_nav_title {
  display: flex;
  align-items: center;
  padding: 0 35px;
}
.footer_nav_title_svg_path {
  fill: none;
  stroke: url(#linear);
  stroke-width: 12px;
}
.footer_nav_title_light {
  color: #fff;
  font-family: "NunitoSans-ExtraLight";
  font-size: 3rem;
}
.footer_nav_title_light_bold {
  font-family: "NunitoSans-Bold";
}
.footer_nav_items {
  display: flex;
  align-items: center;
  padding: 0 35px;
}
.footer_nav_items_item {
  color: #fff;
  font-family: "NunitoSans-Bold";
  font-size: 1.8rem;
  margin-left: 35px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.footer_nav_items_item:hover {
  color: #000;
}
.footer_nav_items_item:before {
  content: "";
  background: #fff;
  width: 110%;
  height: 0%;
  position: absolute;
  transition: all 0.3s ease;
  z-index: -1;
  left: -5%;
  top: -10%;
}
.footer_nav_items_item:hover:before {
  height: 120%;
}
.footer_warning {
  color: #fff;
  font-family: "NunitoSans-Bold";
  font-size: 2.4rem;
}
.footer_warning_span {
  color: #ff8484;
}
.footer_social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer_social_text {
  color: #fff;
  font-family: "NunitoSans-ExtraLight";
  font-size: 1.8rem;
  margin: 0 75px 30px 75px;
}
.footer_social_text_link {
  color: #fff;
  text-decoration: none;
  font-family: "NunitoSans-SemiBold";
  font-size: 2rem;
  position: relative;
  z-index: 1;
  margin-left: 5px;
}
.footer_social_text_link:after {
  content: "";
  background: linear-gradient(-0.125turn, #82D3FF, #8B83FF);
  width: 104%;
  height: 3px;
  position: absolute;
  z-index: -1;
  left: -2%;
  bottom: -5px;
  transition: all 0.3s ease;
}
.footer_social_text_link:hover:after {
  height: 35px;
}
.footer_social_items {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0 100px 24px 0;
}
.footer_social_items_item {
  background: green;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer_social_items_item:nth-child(1) {
  background: url("github.b4c5720d.svg") no-repeat center;
  background-size: 100%;
}
.footer_social_items_item:nth-child(1):hover {
  background: url("github-anim.27d8971c.svg") no-repeat center;
  background-size: 100%;
}
.footer_social_items_item:nth-child(2) {
  background: url("linkedin.42f11a99.svg") no-repeat center;
  background-size: 100%;
}
.footer_social_items_item:nth-child(2):hover {
  background: url("linkedin-anim.78e9f6b1.svg") no-repeat center;
  background-size: 100%;
}
.footer_social_items_item:nth-child(3) {
  background: url("instagram.2730a972.svg") no-repeat center;
  background-size: 100%;
}
.footer_social_items_item:nth-child(3):hover {
  background: url("instagram-anim.f0827b50.svg") no-repeat center;
  background-size: 100%;
}
/*# sourceMappingURL=index.f0cc611f.css.map */
